 

.container1 {
    max-width: 1530px;
    margin: auto;
    height: auto;

    .contact {
        max-width: 1530px;
        height: 48px;
        background-color: #007878;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        ul {
            display: flex;
            gap: 20px;
        }
        li {
            height: auto;
        }

         .contact-1 {
            display: flex;
            
           }
        }
}
.contaierx {font-family: 'Palanquin';
  
    width: 1530px;
    height: 584px;
    background-color:  #FFE2E0;
    .containerx-2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 1000px;
        height: 584px;
        margin: auto;
        .box1 {
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 500px;
            .red {
                color: red;
                font-weight:900;
                font-size: larger;
            }
            h3 {
                font-weight: bold;
                font-size: xx-large;
                
            }
            .shop {
                background: rgba(32, 99, 99, 1);
                color: white;
                width: 192px;
                height: 52px;
                border-radius: 10px;
                border: none;

            }
        }
        .box2 {
            width: 500px;

        }
    }
}